<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title> Construction </title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
		<link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">

		<!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

		<!-- Slidebar Css -->
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/skins/construction.css' %}">
		<link rel="stylesheet" href="{% static 'assets/fonts/iconfont/material-icons.css' %}">
		<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/revolution-version4/css/extralayers.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/revolution-version4/css/settings.css' %}">

    </head>
    <body>

        <!--================Header Menu Area =================-->
       {% include 'pages/navbar.html' %}
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="slider-revolution-wrapper mt-xs-46">
			<div class="tp-banner-container">
				<div class="tp-banner">
				<ul>
				<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="off">

				<img src="assets/img/construction/banner/banner-light.jpg" alt="" data-lazyload="assets/img/construction/banner/banner-light.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


				<div class="tp-caption sfl rs-parallaxlevel-10" data-x="left" data-y="80" data-speed="900" data-start="1900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5;">
				<div><img src="assets/img/construction/banner/cloud.png" alt="">
				</div>
				</div>

				<div class="tp-caption rev-heading-intro sfb dark-text text-medium" data-x="30" data-y="200" data-speed="600" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">AFUA
				</div>

				<div class="tp-caption rev-heading sfb dark-text text-extrabold" data-x="30" data-y="250" data-speed="600" data-start="1200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">Construction <span class="yellow-text">&amp;</span> Co.
				</div>

				<div class="tp-caption sfb rs-parallaxlevel-8" data-x="700" data-y="bottom" data-speed="900" data-start="1600" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">
				<div data-easing="Power1.easeInOut" data-startdeg="-2" data-enddeg="2" data-speed="2" data-origin="85% 85%"><img src="assets/img/construction/banner/building.png" alt="">
				</div>
				</div>

				<div class="tp-caption sfl rs-parallaxlevel-10" data-x="left" data-y="bottom" data-speed="900" data-start="2200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 15;">
				<div data-easing="Power1.easeInOut" data-origin="20% 85%"><img src="assets/img/construction/banner/truck.png" alt="">
				</div>
				</div>

				<div class="tp-caption sfr rs-parallaxlevel-10" data-x="600" data-y="bottom" data-speed="1200" data-start="2500" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 15;">
				<div data-easing="Power1.easeInOut" data-origin="20% 85%"><img src="assets/img/construction/banner/bulldozer.png" alt="">
				</div>
				</div>
				</li>
				<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="off">

				<img src="assets/img/construction/banner/landscape.jpg" alt="" data-lazyload="assets/img/construction/banner/landscape.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


				<div class="tp-caption rev-heading-intro sfb dark-text text-medium text-white" data-x="30" data-y="200" data-speed="600" data-start="1000" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">We Build Perfect
				</div>

				<div class="tp-caption rev-heading sfb dark-text text-extrabold" data-x="30" data-y="250" data-speed="600" data-start="1200" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">Home For <span class="yellow-text">You</span>
				</div>

				<div class="tp-caption sfb rs-parallaxlevel-10" data-x="800" data-y="center" data-speed="900" data-start="1500" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">
				<div data-easing="Power1.easeInOut" data-startdeg="-2" data-enddeg="2" data-speed="2" data-origin="85% 85%"><img src="assets/img/construction/banner/1.png" alt="">
				</div>
				</div>

				<div class="tp-caption sfb rs-parallaxlevel-10" data-x="800" data-y="370" data-speed="900" data-start="1700" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">
				<div data-easing="Power1.easeInOut" data-startdeg="-2" data-enddeg="2" data-speed="2" data-origin="85% 85%"><img src="assets/img/construction/banner/2.png" alt="">
				</div>
				</div>

				<div class="tp-caption sfr rs-parallaxlevel-10" data-x="930" data-y="300" data-speed="900" data-start="1900" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">
				<div data-easing="Power1.easeInOut" data-startdeg="-2" data-enddeg="2" data-speed="3" data-origin="85% 85%"><img src="assets/img/construction/banner/3.png" alt="">
				</div>
				</div>

				<div class="tp-caption sfr rs-parallaxlevel-10" data-x="930" data-y="150" data-speed="900" data-start="2100" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">
				<div data-easing="Power1.easeInOut" data-startdeg="-2" data-enddeg="2" data-speed="3" data-origin="85% 85%"><img src="assets/img/construction/banner/4.png" alt="">
				</div>
				</div>

				<div class="tp-caption sft rs-parallaxlevel-10" data-x="800" data-y="80" data-speed="900" data-start="2300" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">
				<div data-easing="Power1.easeInOut" data-startdeg="-2" data-enddeg="2" data-speed="2" data-origin="85% 85%"><img src="assets/img/construction/banner/5.png" alt="">
				</div>
				</div>

				<div class="tp-caption sfl rs-parallaxlevel-10" data-x="670" data-y="150" data-speed="900" data-start="2500" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">
				<div data-easing="Power1.easeInOut" data-startdeg="-2" data-enddeg="2" data-speed="3" data-origin="85% 85%"><img src="assets/img/construction/banner/6.png" alt="">
				</div>
				</div>

				<div class="tp-caption sfl rs-parallaxlevel-10" data-x="670" data-y="300" data-speed="900" data-start="2700" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10;">
				<div data-easing="Power1.easeInOut" data-startdeg="-2" data-enddeg="2" data-speed="3" data-origin="85% 85%"><img src="assets/img/construction/banner/7.png" alt="">
				</div>
				</div>
				</li>
				</ul>
				<div class="tp-bannertimer"></div>
				</div>
				</div>
				</section>
        <!--================End Home Banner Area =================-->

        <!--================Services Area =================-->
        <section class="services_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Our Offered Services</h2>
        			<p>Lorem ipsum dolor sit amet, consecteturadipis icing elit,</p>
        		</div>
        		<div class="row services_inner">
        			<div class="col-lg-4">
        				<div class="services_item">
        					<img src="img/icon/1.png" alt="">
        					<a href="#"><h4>Cost Estimation</h4></a>
        					<p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="services_item">
        					<img src="img/icon/2.png" alt="">
        					<a href="#"><h4>Project Management</h4></a>
        					<p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="services_item">
        					<img src="img/icon/3.png" alt="">
        					<a href="#"><h4>Labour Availability</h4></a>
        					<p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Services Area =================-->

        <!--================Builder Image Area =================-->
        <seciton class="builder_area">
        	<div class="main_title">
        		<h2>Our Top Category</h2>
        		<p></p>
        	</div>
			<div class="row m0 builder_inner">
				<div class="builder_item">
					<img src="img/builder/paint.jpg" alt="">
					<div class="hover">
						<h4>Paints</h4>
						<p>Write something here.</p>
					</div>
				</div>
				<div class="builder_item">
					<img src="img/builder/cementss.jpg" alt="">
					<div class="hover">
						<h4>Cements</h4>
						<p>Write something here.</p>
					</div>
				</div>
				<div class="builder_item">
					<img src="img/builder/tiles.jpg" alt="">
					<div class="hover">
						<h4>Tiles</h4>
						<p>Write something here.</p>
					</div>
				</div>
				<div class="builder_item">
					<img src="img/builder/steel.jpg" alt="">
					<div class="hover">
						<h4>Steel</h4>
						<p>Write something here.</p>
					</div>
				</div>
				<div class="builder_item">
					<img src="img/builder/cont.jpg" alt="">
					<div class="hover">
						<h4>All Kind of Contractors</h4>
						<p>Write something here.</p>
					</div>
				</div>
				<div class="builder_item">
					<img src="img/builder/labour.jpg" alt="">
					<div class="hover" >
						<h4><a href="#" >Labours for Every Work</a></h4>
						<p>Write something here..</p>
					</div>
				</div>
			</div>
        </seciton>
        <!--================End Builder Image Area =================-->

        <!--================Team Area =================-->
        <section class="team_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Meet Our Expert Members</h2>
        			<p>Who are in extremely love with eco friendly system.</p>
        		</div>
        		<div class="row team_inner">
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="img/team/team-1.jpg" alt="">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Ethel Davis</h4>
        						<p>Managing Director (Sales)</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="img/team/team-2.jpg" alt="">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Ethel Davis</h4>
        						<p>Managing Director (Sales)</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="img/team/team-3.jpg" alt="">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Ethel Davis</h4>
        						<p>Managing Director (Sales)</p>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="team_item">
        					<div class="team_img">
        						<img class="img-fluid" src="img/team/team-4.jpg" alt="">
        						<div class="hover">
        							<a href="#"><i class="fa fa-facebook"></i></a>
        							<a href="#"><i class="fa fa-twitter"></i></a>
        							<a href="#"><i class="fa fa-linkedin"></i></a>
        						</div>
        					</div>
        					<div class="team_name">
        						<h4>Ethel Davis</h4>
        						<p>Managing Director (Sales)</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Team Area =================-->

        <!--================Counter Area =================-->
        <section class="counter_area">
        	<div class="container">
        		<div class="row m0 counter_inner">
        			<div class="counter_item">
        				<h4 class="counter">596</h4>
        				<p>Projects Completed</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">552</h4>
        				<p>Really Happy Clients</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">5962</h4>
        				<p>Total Tasks Completed</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">1009</h4>
        				<p>Cups of Coffee Taken</p>
        			</div>
        			<div class="counter_item">
        				<h4 class="counter">435</h4>
        				<p>In House Professionals</p>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Counter Area =================-->

        <!--================Feature Area =================-->

	 <section class="feature-presentation padding-top-110 padding-bottom-70 gray-bg">
<div class="container">
<div class="text-center mb-80">
<h2 class="section-title text-bold">What We Offer</h2>
<p class="section-sub"> Write Something here</p>
</div>
<div class="row">
<div class="col-md-4 col-sm-6">
<div class="featured-item feature-icon icon-hover icon-hover-brand right-icon mt-50 mb-80">
<div class="icon radius-4">
<i class="material-icons colored dark-icon">&#xE8D1;</i>
</div>
<div class="desc">
<h2>Concrete Developments</h2>
<p> write something </p>
</div>
</div>
<div class="featured-item feature-icon icon-hover icon-hover-brand right-icon mb-80">
<div class="icon radius-4">
<i class="material-icons colored dark-icon">&#xE1BD;</i>
</div>
<div class="desc">
<h2>Finance Assistance</h2>
<p> write something</p>
</div>
</div>
</div>
<div class="col-md-4 hidden-sm hidden-xs">
<img class="img-responsive" src="assets/img/construction/engineer.png" alt="">
</div>
<div class="col-md-4 col-sm-6">
<div class="featured-item feature-icon icon-hover icon-hover-brand mt-50 mb-80">
<div class="icon radius-4">
<i class="material-icons colored dark-icon">&#xE0AF;</i>
</div>
<div class="desc">
<h2>Cost Effective Solutions</h2>
<p> write something</p>
</div>
</div>
<div class="featured-item feature-icon icon-hover icon-hover-brand mb-80">
<div class="icon radius-4">
<i class="material-icons colored dark-icon">&#xE84F;</i>
</div>
<div class="desc">
<h2>Quality Infrastructure</h2>
<p> write something</p>
</div>
</div>
</div>
</div>
</div>
</section>
        <!--================End Feature Area =================-->


        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Some Features that Made us Unique</h2>
        			<p>Who are in extremely love with eco friendly system.</p>
        		</div>
        		<div class="row feature_inner">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-user"></i>Expert Technicians</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-license"></i>Professional Service</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-phone"></i>Great Support</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-rocket"></i>Technical Skills</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-diamond"></i>Highly Recomended</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-bubble"></i>Positive Reviews</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->

        <!--================Clients Logo Area =================-->
        <section class="clients_logo_area p_120">
        	<div class="container">
        		<div class="clients_slider owl-carousel">
        			<div class="item">
        				<img src="img/clients-logo/c-logo-1.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-2.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-3.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-4.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-5.png" alt="">
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Clients Logo Area =================-->

        <!--================ start footer Area  =================-->
      {% include 'pages/footer.html' %}
		<!--================ End footer Area  =================-->




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope-min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendors/counter-up/jquery.counterup.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/theme.js"></script>
    </body>
	<script src="assets/js/jquery-2.1.3.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/materialize/js/materialize.min.js"></script>
<script src="assets/js/jquery.easing.min.js"></script>
<script src="assets/js/smoothscroll.min.html"></script>
<script src="assets/js/menuzord.js"></script>
<script src="assets/js/equalheight.js"></script>
<script src="assets/js/bootstrap-tabcollapse.min.js"></script>
<script src="assets/js/jquery.inview.min.js"></script>
<script src="assets/js/jquery.countTo.min.js"></script>
<script src="assets/js/jquery.shuffle.min.js"></script>
<script src="assets/js/jquery.stellar.min.js"></script>
<script src="assets/js/twitterFetcher.min.js"></script>
<script src="assets/js/imagesloaded.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/flexSlider/jquery.flexslider-min.js"></script>
<script src="assets/magnific-popup/jquery.magnific-popup.min.js"></script>

<script src="assets/revolution-version4/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/revolution-version4/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/scriptsae52.js?v=5"></script>

<script type="text/javascript">

            jQuery(document).ready(function() {

                jQuery('.tp-banner').show().revolution({

                        dottedOverlay:"none",
                        delay:8000,
                        startwidth:1170,
                        startheight:600,
                        hideThumbs:200,
                        hideTimerBar:"on",

                        thumbWidth:100,
                        thumbHeight:50,
                        thumbAmount:1,

                        navigationType:"bullet",
                        navigationArrows:"solo",
                        navigationStyle:"preview5",

                        touchenabled:"on",
                        onHoverStop:"off",

                        swipe_velocity: 0.7,
                        swipe_min_touches: 1,
                        swipe_max_touches: 1,
                        drag_block_vertical: false,

                        parallax:"mouse",
                        parallaxBgFreeze:"on",
                        parallaxLevels:[10,7,4,3,2,5,4,3,2,1],

                        keyboardNavigation:"on",


                        shadow:0,
                        fullWidth:"on",
                        fullScreen:"off",

                        spinner:"spinner4"
                });

        }); //ready
        </script>
<script>


            if ($('#twitterfeed').length > 0) {
                var twitterWidgetConfig = {
                    id: "613424231099953152",
                    domId: "twitterfeed",
                    maxTweets: 2,
                    enableLinks: true,
                    showUser: true,
                    showTime: true,
                    showInteraction: false
                };

                twitterFetcher.fetch(twitterWidgetConfig);
            }

        </script>
</html>