{% extends 'Layout/header.html' %}
{% load static %}
{% block content %}

<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<br><br><br><br>
<div class="row">
    <div class="col-md-3">
        <div style="background-color:#E5E7E9;" class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home</a>
            <hr>
            <a href="{% url 'account' %}">
                <h3 style="text-align: center">Account Settings</h3>
            </a>
            <hr>
            <img class="profile-pic" src="{{request.user.profile.picture.url}}">
            <br>
            <div style="background-color:white; color:black; ">
                <strong>
                    <h4 style="color:black;border-left: 6px solid red; background-color: lightgrey;">User Detail</h4>
                </strong>
                <a><strong>Name : </strong> {{user}} </a><br>
                <a><strong>Shop Name : </strong> {{user.profile.shopname}} </a><br>
                <a><strong>Address : </strong> {{user.profile.address}} </a><br>
                <a><strong>City : </strong> {{user.profile.city}} </a><br>
                <a><STRONG>Nic : </STRONG> {{user.profile.Nic}} </a><br>
                <a><strong>Email : </strong> {{user.email}} </a><br>
                <a><strong>Morning Contact: </strong> {{user.profile.first_phone}} </a><br>
                <a><strong>Evening Contact: </strong> {{user.profile.second_phone}} </a><br>
                <a><strong>Bio:</strong> {{user.profile.bio}} </a><br>
                <a><strong>Country : </strong> {{user.profile.country}} </a><br>
                {% if user.profile.gender == 'M' %}
                <p><strong>Gender : </strong> Male </p><br>
                {% else %}
                <p><strong>Gender : </strong> Female </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div style="background-color:#F8F9F9; width:100%; " class="card card-body">
            <strong>
                <h2 style="color:black;border-left: 6px solid blue; background-color: lightgrey;">Shop Detail</h2>
            </strong>
        </div>
        <div class="shop-grid row">
            <div class="addshop item col-md-3">
                <a href="{% url 'VendorShop' %}">Create shop</a>
            </div>
            <div class="shop item col-md-3">
                <img src="{% static 'img/builder/cont.jpg' %}" alt="">
                <h3>Shop name</h3>
            </div>
            <div class="shop item col-md-3">
                <img src="{% static 'img/builder/cont.jpg' %}" alt="">
                <h3>Shop name</h3>
            </div>
        </div>
    </div>
</div>

<style>
    .shop-grid {

        padding: 15px;

    }

    .shop-grid .item {

        border: 1px solid #eee;
        margin: 5px;
        padding: 0px !important;

    }

    .item img {
        width: 100%;
    }
</style>

{% endblock %}