{% extends 'Layout/header.html' %}
{% load static %}
{% block content %}

<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<br><br><br><br>
<div class="row">
    <div class="col-md-3">
        <div style="background-color:#E5E7E9;" class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home</a><br>
            {% if vendor == request.user %}
            <a class="btn btn-success" href="{% url 'CreateShop' %}"> Create shop &#8594;</a>
            {% endif %}
            <hr>
            <a href="{% url 'accountEdit' %}">
                <h3 style="text-align: center">Account Settings</h3>
            </a>
            <hr>
            <img class="profile-pic" src="{{vendor.profile.picture.url}}">
            <br>
            <div style="background-color:white; color:black; ">
                <strong>
                    <h4 style="color:black;border-left: 6px solid red; background-color: lightgrey;">User Detail</h4>
                </strong>
                <a><strong>Name : </strong> {{vendor.username}} </a><br>
                <a><strong>Address : </strong> {{vendor.profile.address}} </a><br>
                <a><strong>City : </strong> {{vendor.profile.city}} </a><br>
                <a><STRONG>Nic : </STRONG> {{vendor.profile.Nic}} </a><br>
                <a><strong>Email : </strong> {{vendor.email}} </a><br>
                <a><strong>Morning Contact: </strong> {{vendor.profile.first_phone}} </a><br>
                <a><strong>Evening Contact: </strong> {{vendor.profile.second_phone}} </a><br>
                <a><strong>Bio:</strong> {{vendor.profile.bio}} </a><br>
                <a><strong>Country : </strong> {{vendor.profile.country}} </a><br>
                {% if vendor.profile.gender == 'M' %}
                <p><strong>Gender : </strong> Male </p><br>
                {% else %}
                <p><strong>Gender : </strong> Female </p>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div style="background-color:#F8F9F9; width:100%; " class="card card-body">
            <strong>
                <h2 style="color:black;border-left: 6px solid blue; background-color: lightgrey;">Shops</h2>
            </strong>

        </div>
        <div class="shop-grid row">
            {% for shop in shops %}

            <div class="shop item col-md-3">
                <a href="{% url 'shopView' id=shop.id %}">
                    <div class="categories_post">
                        <img src="{% static 'img/builder/cont.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">

                                <h5>{{ shop.name}}</h5>

                                <div class="border_line"></div>
                                <p>Status: {{ shop.status }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

<style>
    .shop-grid {

        padding: 15px;

    }

    .shop-grid .item {

        border: 1px solid #eee;
        margin: 5px;
        padding: 0px !important;

    }

    .item img {
        width: 100%;
    }
</style>

{% endblock %}